Repository ElNiak/claude-code-flow: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, dependency-analysis-helper, enforce-docs-structure, enforce-analysis-structure, block-root-clutter, merger-compatibility-check

Path conditions:
  typescript-check: any of: \.(ts|mts|cts)$ and \.tsx$ and not (node_modules/)
  dependency-analysis-helper: any of: \.(md|json|ts|js)$
  enforce-docs-structure: any of: \.(md)$
  enforce-analysis-structure: any of: \.(json)$
  block-root-clutter: any of: ^[^/]+\.(md|json)$
  merger-compatibility-check: any of: src/.*\.(ts|js)$

fxing mcp
  src/cli/simple-cli.ts
  src/cli/simple-commands/mcp.js
  src/mcp/mcp-server-complete.js
  src/mcp/stdio-server-complete.js
Due: dependency-analysis-helper, merger-compatibility-check

fxing mcp
  .gitignore
  src/cli/simple-cli.ts
  src/cli/simple-commands/mcp.js
Due: dependency-analysis-helper, merger-compatibility-check

fix: resolve pre-commit hook issues and remove Deno dependencies
  .pre-commit-config.yaml
  analysis-archive/README.md
  build-tools/README.md
  docs/active/README.md
  docs/reference/README.md
  package-lock.json
  src/cli/simple-cli.ts
  src/cli/simple-commands/hooks.ts
  src/memory/sqlite-store.js
Due: dependency-analysis-helper, enforce-docs-structure, enforce-analysis-structure, block-root-clutter, merger-compatibility-check

feat: implement SwarmMemory for proper agent coordination in MCP server
  src/mcp/mcp-server-complete.js
  src/mcp/stdio-server-complete.js
Due: dependency-analysis-helper, merger-compatibility-check

final: add secrets baseline to complete pre-commit resolution
  src/cli/commands/swarm.ts
  src/cli/utils.js
Due: dependency-analysis-helper, merger-compatibility-check

fix: update all startup scripts to use 2048MB max executable size
  scripts/memory-optimized-start.sh
  src/optimization/memory-config.json
  src/optimization/memory-startup.sh
  src/optimization/node-memory-optimizer.ts
Due: dependency-analysis-helper, enforce-analysis-structure, merger-compatibility-check

fix: add updated secrets baseline to resolve pre-commit detection loop
  .hive-mind/sessions/session-1752909865017-rkf7tvprc-auto-save-1752909895018.json
  .pre-commit-config-progressive.yaml
  docs/guides/optimization/README.md
  docs/guides/optimization/README_UPDATED.md
  scripts/validate-cleanup.js
  scripts/validation/detect-anti-patterns.sh
  scripts/validation/inter-phase-commit.sh
  scripts/validation/validate-build-before-commit.sh
  scripts/validation/verify-commit-integrity.sh
  src/cli/commands/swarm.ts
  step-by-step-guides/README.md
Due: dependency-analysis-helper, enforce-docs-structure, enforce-analysis-structure, merger-compatibility-check

fix: resolve critical TypeScript compilation errors
  src/cli/commands/start/process-ui-simple.ts
  src/cli/utils/environment-detector.ts
  src/swarm/coordinator.ts
Due: dependency-analysis-helper, merger-compatibility-check

adding submodule + new CLAUDE.md
  .claude/agents.zip
  .gitmodules
  CLAUDE.md
  CLAUDE.old.md
  COMPREHENSIVE_IMPROVEMENT_ROADMAP.md
  ENTERPRISE_FILE_MAPPING.json
  IMPORT_PATH_FIXES.md
  build-validation-report.md
  debug-hive-errors.js
Due: dependency-analysis-helper, enforce-docs-structure, enforce-analysis-structure, block-root-clutter

stating refactor
  CLAUDE.md
Due: dependency-analysis-helper, enforce-docs-structure, block-root-clutter

adding MCP support for less hallucination and pre-commit
  .gitleaksignore
  .markdown-link-check.json
  .markdownlint.yaml
  PRE_COMMIT_SETUP.md
Due: dependency-analysis-helper, enforce-docs-structure, enforce-analysis-structure, block-root-clutter

adding MCP support for less hallucination and pre-commit
  .sqlfluff
Due: none

fix: add missing importlib import for Python linting
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  CLAUDE.md
  benchmark/ci_performance_integration.py
  coordination
  docker/Dockerfile.hive-mind
  docker/Dockerfile.test
  docker/docker-compose.hive-mind.yml
  docker/docker-test/.swarm/memory.db
  docker/docker-test/docker-compose.test.yml
  docker/docker-test/generate-test-report.js
  docker/docker-test/test-alpha50.dockerfile
  docker/docker-test/test-fallback-alpha51.dockerfile
  docker/docker-test/test-pr228.dockerfile
  docker/docker-test/test-published-alpha.dockerfile
  docker/docker-test/test-published-simple.dockerfile
  docker/docker-test/test-ubuntu-fallback.dockerfile
  docker/run-tests.sh
  docs/MCP-SERVER-ENHANCEMENT.md
  docs/maestro/TODO.md
  roadmap.md
  src/agents/agent-loader.ts
  src/agents/agent-registry.ts
  src/cli/simple-commands/init/mcp-command-builder.js
  src/cli/simple-commands/init/templates/CLAUDE.md
  src/cli/simple-commands/init/templates/mcp.json
  src/cli/simple-commands/init/templates/vscode-launch.json
  src/cli/simple-commands/init/templates/vscode-settings.json
  src/cli/simple-commands/init/templates/vscode-tasks.json
  src/coordination/coordination.md
  tests/README.md
  tests/cross-platform/mcp-cross-platform.test.js
  tests/e2e/init-workflow-e2e.test.js
  tests/integration/mcp-server-integration.test.js
  tests/performance/mcp-server-performance.test.js
  tests/rollback/init-rollback.test.js
  tests/unit/mcp-server-setup.test.js
Due: dependency-analysis-helper, enforce-docs-structure, enforce-analysis-structure, block-root-clutter, merger-compatibility-check

Add new plan-persist.sh scriopt with git worktree usage
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .claude/agents/core/analyst.md
  .gitignore
  .pre-commit-config.yaml
  PLAN_AND_PERSIST.md
  plan-and-persist.sh
  roadmap/.gitkeep
  wtctl.sh
Due: dependency-analysis-helper, enforce-docs-structure, enforce-analysis-structure, block-root-clutter

small imrprovement
  PLAN_AND_PERSIST.md
  plan-and-persist.sh
  roadmap/plan-output.txt
  src/agents/agent-loader.ts
  src/agents/agent-registry.ts
Due: dependency-analysis-helper, enforce-docs-structure, block-root-clutter, merger-compatibility-check

fixing entrypoint
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  package.json
  scripts/build-bin-js.js
  scripts/resolve_claude_flow_cli.sh
Due: dependency-analysis-helper, enforce-analysis-structure, block-root-clutter

feat: enhance TypeScript type safety in analyst.ts + update metrics
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  src/cli/agents/analyst.ts
  src/cli/agents/architect.ts
Due: dependency-analysis-helper, enforce-analysis-structure, merger-compatibility-check

🚀 COMPLETE: Repository cleanup and optimization with Hive Mind coordination
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .gitignore
  bin/claude-flow
  bin/claude-flow.js
  examples/data-pipeline/package.json
  examples/flask-api-sparc/package.json
  jest.config.js
  package.json
  scripts/automated-console-migration.ts
  scripts/check-links.ts
  scripts/coverage-report.ts
  scripts/demo-task-system.ts
  scripts/migration-examples.ts
  scripts/repo-hygiene.sh
  scripts/test-batch-tasks.ts
  scripts/test-coordination-features.ts
  scripts/workflow-control.sh
  src/api/claude-client-enhanced.ts
  src/api/claude-client.ts
  src/cli/agents/analyst.ts
  src/cli/agents/architect.ts
  src/cli/agents/base-agent.ts
  src/cli/agents/coder.ts
  src/cli/agents/hive-agents.ts
  src/cli/agents/researcher.ts
  src/cli/agents/tester.ts
  src/cli/command-registry.js
  src/cli/help-formatter.js
  src/cli/help-text.js
  src/cli/validation-helper.js
  src/core/event-bus.ts
  src/swarm/__tests__/integration.test.ts
  src/swarm/__tests__/prompt-copier.test.ts
  src/utils/error-handler.js
  tests/integration/batch-task-test.ts
  tsconfig.json
Due: dependency-analysis-helper, enforce-analysis-structure, block-root-clutter, merger-compatibility-check
